

span {
    color: beige;
    text-align: center;
    font-family:Arial Black;
    font-size: 30px;
    -webkit-text-stroke: 1px brown
    
}

#subtitulos {
	color: brown;
    text-align: center;
    font-family: arial;
    font-size: 20px;
    -webkit-text-stroke: 1px gray
}
td {
	color: brown;
    font-family: arial;
    font-size: 20px;
}
p {
	text-align: right;
	color: black;
    font-family: arial;
    font-size: 20px;
}